<h1>Listing ad_zone_types</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @ad_zone_types.each do |ad_zone_type| %>
  <tr>
    <td><%=h ad_zone_type.name %></td>
    <td><%= link_to 'Show', ad_zone_type %></td>
    <td><%= link_to 'Edit', edit_ad_zone_type_path(ad_zone_type) %></td>
    <td><%= link_to 'Destroy', ad_zone_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New ad_zone_type', new_ad_zone_type_path %>