<h1>Editing site_category</h1>

<% form_for(@site_category) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :owner_id %><br />
    <%= f.text_field :owner_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @site_category %> |
<%= link_to 'Back', site_categories_path %>