<h1><%=box_scaffold_config.clazz.human_name%></h1>
<%= link_to 'New member', box_scaffold_config.new_path %>
<table>
  <tr>
    <% box_scaffold_config.clazz.columns.each {|column| %>
      <th><%=box_scaffold_config.clazz.human_attribute_name(column.name) %></th>
    <% } %>
  </tr>

<% @list.each do |a_obj| %>
  <tr>
    <% box_scaffold_config.clazz.columns.each {|column| %>
    <td><%=h a_obj.send(column.name) %></td>
    <% } %>
    <% box_scaffold_config.links.each{ |link| %>
      <td><%=link_to link[:label], link[:url] %></td>
    <%  } %>
  </tr>
<% end %>
</table>

<br />


