<h1><%=box_scaffold_config.clazz.human_name%></h1>
<%= link_to 'New member', box_scaffold_config.new_path %>
<table>
  <tr>
    <% box_scaffold_config.clazz.columns.each {|column| %>
      <th><%=box_scaffold_config.clazz.human_attribute_name(column.name) %></th>
    <% } %>
  </tr>

<% @list.each do |member| %>
  <tr>
    <td><%=h member.name %></td>
    <td><%=h member.master_id %></td>
    <td><%=h member.company_name %></td>
    <td><%=h member.telephone %></td>
    <td><%=h member.mobile_no %></td>
    <td><%=h member.address %></td>
    <td><%=h member.email %></td>
    <td><%=h member.comment %></td>
    <td><%= link_to 'Show', member %></td>
    <td><%= link_to 'Edit', edit_member_path(member) %></td>
    <td><%= link_to 'Destroy', member, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />


